.form {
  width: 500px;
  margin: auto;
  margin-top: 20px;
}

.form > label,
.form > input {
  display: block;
}

.form > label {
  margin-bottom: 5px;
  font-size: 20px;
}

.form > input {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
}

.signupForm {
  background-color: #d1eefc;
  width: 600px;
  padding: 15px 0;
  margin: auto;
  margin-top: 50px;
}

.googleLoginBtn {
  background-color: white !important;
  color: rgb(90, 90, 90) !important;
}

.googleLoginBtn > svg {
  margin-right: 10px;
}
