.singleRecentPost {
  display: grid;
  grid-template-columns: 80px auto;
  grid-column-gap: 10px;
  margin-bottom: 10px;
}

.recentPostImg {
  width: 100%;
  height: 80px;
}

.recentPostImg > img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.recentPostDic > p {
  margin-bottom: 0;
  font-size: 15px;
}

.recentPostDic > a {
  font-size: 12px;
}
